.container
	.row
		.page-header
			h1.text-center 智能监测系统
	.row
		.nav.nav-tabs(sytle="list-style:none;overflow:hidden")
			li
				a.navbar-link(href="/") 首页
			li
				a.navbar-link(href="/a_TH") 空气温湿度
			li
				a.navbar-link(href="/s_TH") 土壤温湿度
			li
				a.navbar-link(href="/ill") 光照强度
			li
				a.navbar-link(href="/EC") EC值
			li
				a.navbar-link(href="/s_TH") 灌溉水PH值
			li
				a.navbar-link(href="/ill" style="font-size:17px;color:#223456;font-weight:bold;text-align:center") 系统设置
			li
				a.navbar-link(href="/ill" style="opacity:0") 人员管理
			li
				a.navbar-link(href="/EC" style="opacity:0") 系统设置
			li
				a.navbar-link(href="/s_TH" style="opacity:0") 关于
			li
				a.navbar-link(href="/ill" style="opacity:0") 光照强度
			li
				a.navbar-link(href="/EC" style="font-size:15px;color:#456215;position:absolute;width:250px") 欢迎您：admin123  /  退出