link(rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css")
<link rel="stylesheet" href="/libs/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="/libs/bootstrap-table/src/bootstrap-table.css">
script(src="/libs/jquery/dist/jquery.min.js")
script(src="/libs/bootstrap/dist/js/bootstrap.min.js")
<script type="text/javascript" src="/libs/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="/libs/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<script type="text/javascript" src="/libs/bootstrap-table/src/bootstrap-table.js"></script>
<script type="text/javascript" src="/libs/bootstrap-table/src/locale/bootstrap-table-zh-CN.js"></script>
<script type="text/javascript" src="/libs/highcharts/highcharts.js"></script>
