extend ../layout

block content
	.container
		.row
			table.table.table-bordered.table-hover
				caption.text-center 
					h3 土壤温湿度
				caption.text-right 
					h5
						a(href="/s_TH") 刷新
						span &nbsp;|&nbsp;
						a(href="s_TH_his") 历史记录
				thead
					tr
						th.text-center 节点地址
						th.text-center 时间
						th.text-center 当前值
				tbody
					tr
						td.text-center 00124B00061C8708
						td.text-center #{D00124B00061C8708}
						td.text-center #{V00124B00061C8708}
					tr
						td.text-center 00124B00061C8709
						td.text-center #{D00124B00061C8709}
						td.text-center #{V00124B00061C8709}
					tr
						td.text-center 00124B00061C8710
						td.text-center #{D00124B00061C8710}
						td.text-center #{V00124B00061C8710}
					tr
						td.text-center 00124B00061C8711
						td.text-center #{D00124B00061C8711}
						td.text-center #{V00124B00061C8711}
					tr
						td.text-center 00124B00061C8712
						td.text-center #{D00124B00061C8712}
						td.text-center #{V00124B00061C8712}
					tr
						td.text-center 00124B00061C8713
						td.text-center #{D00124B00061C8713}
						td.text-center #{V00124B00061C8713}
					tr
						td.text-center 00124B00061C8714
						td.text-center #{D00124B00061C8714}
						td.text-center #{V00124B00061C8714}
					tr
						td.text-center 00124B00061C8715
						td.text-center #{D00124B00061C8715}
						td.text-center #{V00124B00061C8715}